<div class="question-choices">
  <p>Question:<a href="/questions/<%=question.id%>/show"><%= question.text %></a></p>
  <% if survey.active? == 0 %>
    <form action='/questions/<%=question.id%>' method='post'>
      <input type='hidden' name='_method' value='delete'/>
      <input type='submit' value='Delete this Question'/>
    </form>
    <a href="/questions/<%=question.id%>/edit">Edit this Question</a>
  <% end %>
  <ul class="choices-show">
    <% question.choices.each do |choice|%>
      <li><%= choice.text%> </li>
    <%end%>
  </ul>
</div
