<h1> Welcome <%=current_user.username.capitalize%>!</h1>
<h2> Current Active Surveys:</h2>
<ul>
  <%@surveys.each do |survey| %>
    <% if survey.is_active? %>
    <li><div class="survey-box">
        <p><a href="/surveys/<%=survey.id%>"><%= survey.title%></a></p>
        <p>
        <%= survey.description%>
        by <a href=""><%= survey.creator.username %></a></p>
    </li>
    <% end %>
  <%end%>
</ul>

