<h1> Here is the <%=@survey.title%> Survey! </h1>

<%if current_user == @survey.creator %>
  <h2>You are the creator of this survey.</h2>
  <div id="survey-details">
    <a href="/surveys/<%=@survey.id%>/delete">Delete This Survey</a>
      <% if !@survey.is_active? %>
        | <a id="add-question-link" href="/surveys/<%=@survey.id%>/questions/new">Add a Question to This Survey</a>
      <%end%>
    <ul id="current-questions"></ul>
  </div>
<%end%>

<ul id='all-questions'>
  <%@survey.questions.each do |question|%>
    <%= erb :'/questions/_question', layout: false, locals:{survey: @survey, question: question} %>
  <%end%>
</ul>


  <% if !@survey.is_active? %>
      <% if current_user == @survey.creator %>
        <div id="warning">
        <p>WARNING: Clicking this button sends your survey into the world- NOTE: You cannot edit your survey after it's been submitted.</p>
        <form action='/surveys/<%=@survey.id%>' method='post'>
          <input type='submit' value='Submit and Lock this Survey'/>
        </form>
      </div>
      <% else %>
        <p>This survey has not yet been released by its creator, sorry!</p>
      <% end %>
  <% else %>
    <form action='/taken_surveys' method='post'>
      <input type='hidden' name='taken_survey[taker_id]' value='<%=current_user.id%>'/>
      <input type='hidden' name='taken_survey[survey_id]' value='<%=@survey.id%>'/>
      <input type='submit' value='Take this Survey!'/>
    </form>
  <% end %>
